    /* 전체 폰트 */
    * {
      font-family: 'NeoDunggeunmo Pro';
    }

    /* 전체 배경 */
    body {
      background: linear-gradient(90deg, #000 21px, transparent 1%) center,
        linear-gradient(#000 21px, transparent 1%) center, #66626285;
      background-size: 22px 22px;
    }

    /* 전체 컨테이너 */
    .main-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
    }

    /* 헤더 */
    .main-header {
      text-align: left;
      color: white;
      margin-bottom: 10px;
    }

    /* 헤더 폰트 */
    .main-header h1 {
      font-size: 40px;
      font-weight: 700;
      margin-top: 3px;
    }

    /* 팀 소개 */
    .team-intro {
      border: 2px solid #ccc;
      border-radius: 2px;
      width: 100%;
      height: 430px;
      text-align: center;
      margin-bottom: 2.5rem;
      padding: 10px;
      background-color: #111;
      border-color: #fff;
      box-shadow: 0 0 0 3px #fff, 0 0 0 6px #111, 8px 8px 0 0 #fff;
      color: #fff;
    }

    .intro_1 {
      font-size: 190px;
      margin: 50px auto -60px auto;
      color: white;
    }

    .intro_2 {
      font-size: 60px;
      color: brown;
    }

    .intro_3 {
      font-size: 40px;
      color: #66626285;;
    }

    /*.team-photo {
      width: 1100px;
      border-radius: 2px;
      border: 1px solid #ccc;
      padding: 2rem 1rem;
      text-align: center;
      margin: 10px auto 0px auto;
    }

    .team-photo img {
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }

    .team-photo p {
      max-width: 700px;
      margin: 0 auto;
      line-height: 1.6;
    }
*/

    /* 팀원 카드 섹션 */
    .team-members {
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      flex-wrap: nowrap;
      margin-bottom: 2rem;
      width: 100%;
    }

    .member-card {
      flex: 1 1 0;
      background-color: black;
      text-align: center;
      border-color: #fff;
      box-shadow: 0 0 0 3px #fff, 0 0 0 6px #111, 8px 8px 0 0 #fff;
      color: #fff;
    }

    /* 이미지 */
    .member-photo {
      width: 100%;
      aspect-ratio: 1 / 1;
      /* 정사각형 유지 */
      background-color: transparent;
      border: 2px solid #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto 10px;
      max-width: 180px;
      /* 이미지 최대 크기 */
    }

    .member-photo img {
      width: 100%;
      height: 100%;
      image-rendering: pixelated;
      object-fit: contain;
      background: linear-gradient(90deg, #000 21px, transparent 1%) center,
        linear-gradient(#000 21px, transparent 1%) center, #66626285;
      background-size: 22px 22px;
    }

    /* 이름 + 버튼 공통 스타일 */
    .member-name,
    .member-card .detail-btn {
      display: inline-block;
      width: 100%;
      max-width: 180px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      padding: 0.5rem 0;
      margin: 0 auto 0.5rem;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      border-radius: 0;
      /* 둥근 모서리 제거 */
    }

    /* 버튼만의 추가 스타일 */
    .member-card .detail-btn {
      background-color: transparent;
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .member-card .detail-btn:hover {
      background-color: #f2f2f2;
    }

    /* 방명록 버튼 영역 */
    .guestbook-link {
      width: 150px;
      text-align: center;
      margin: 2rem 2.75rem 0rem auto
    }

    /*  커스텀 방명록 버튼 스타일 */
    .guestbook-btn {
      width: 200px;
      display: inline-block;
      padding: 0.5rem 1.25rem;
      border: 0.5px solid transparent;
      color: white;
      text-decoration: none;
      border-radius: 2px;
      font-weight: 500;
      transition: all 0.2s ease;
      background-color: transparent;
            border-color: #fff;
            box-shadow: 0 0 0 2px #fff, 0 0 0 5px #111, 8px 8px 0 0 #fff;
            color: #fff;
      margin: 0px 30px 0px auto;
    
      
    }

    .guestbook-btn:hover {
      background-color: #333;
      color: #fff;
    }